In [101]:
import pandas as pd
import numpy as np

In [102]:
df = pd.read_csv('data.csv')
df.head()

   personality thinking perception    thought  LRscore          career
0  Introverted   Feeler  Perceiver    Sensing       42     Engineering
1  Extroverted   Feeler  Perceiver  Intuition       17  Communications
2  Introverted  Thinker     Judger  Intuition       59      Healthcare
3  Extroverted  Thinker     Judger    Sensing       73             Law
4  Introverted   Feeler     Judger    Sensing       85       Education

In [103]:
from sklearn.preprocessing import LabelEncoder
career_labels = [
    "Engineering",
    "Communications",
    "Healthcare",
    "Law",
    "Education",
    "Business",
    "Government",
    "Arts",
    "Sales",
    "Architecture"
]
label_encoder = LabelEncoder()

encoded_career_labels = label_encoder.fit_transform(career_labels)

print("Encoded Labels:", encoded_career_labels)
print("Label Mapping:")
for label, career in enumerate(label_encoder.classes_):
    print(f"Label {label}: {career}")

Encoded Labels: [5 3 7 8 4 2 6 1 9 0]
Label Mapping:
Label 0: Architecture
Label 1: Arts
Label 2: Business
Label 3: Communications
Label 4: Education
Label 5: Engineering
Label 6: Government
Label 7: Healthcare
Label 8: Law
Label 9: Sales

In [104]:
label_to_career = {
    "Architecture": 0,
    "Arts": 1,
    "Business": 2,
    "Communications": 3,
    "Education": 4,
    "Engineering": 5,
    "Government": 6,
    "Healthcare": 7,
    "Law": 8,
    "Sales": 9
}

df['career'] = df['career'].map(label_to_career)

df.head()

   personality thinking perception    thought  LRscore  career
0  Introverted   Feeler  Perceiver    Sensing       42       5
1  Extroverted   Feeler  Perceiver  Intuition       17       3
2  Introverted  Thinker     Judger  Intuition       59       7
3  Extroverted  Thinker     Judger    Sensing       73       8
4  Introverted   Feeler     Judger    Sensing       85       4

In [105]:
df = pd.get_dummies(df)
df.head()

,LRscore,career,personality_Extroverted,personality_Introverted,thinking_Feeler,thinking_Thinker,perception_Judger,perception_Perceiver,thought_Intuition,thought_Sensing
0,42,5,False,True,True,False,False,True,False,True
1,17,3,True,False,True,False,False,True,True,False
2,59,7,False,True,False,True,True,False,True,False
3,73,8,True,False,False,True,True,False,False,True
4,85,4,False,True,True,False,True,False,False,True

In [106]:
df = df.drop(['personality_Extroverted'], axis=1)
df = df.drop(['thinking_Feeler'], axis=1)
df = df.drop(['perception_Judger'], axis=1)
df = df.drop(['thought_Intuition'], axis=1)
df.head()

,LRscore,career,personality_Introverted,thinking_Thinker,perception_Perceiver,thought_Sensing
0,42,5,True,False,True,True
1,17,3,False,False,True,False
2,59,7,True,True,False,False
3,73,8,False,True,False,True
4,85,4,True,False,False,True

In [107]:
X = df.drop('career',axis=1).values
y = df['career'].values

In [108]:
from sklearn.neighbors import KNeighborsClassifier
neighbors = np.arange(1,9)
for i,k in enumerate(neighbors):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X, y)
print(X)

[[42 True False True True]
 [17 False False True False]
 [59 True True False False]
 [73 False True False True]
 [85 True False False True]
 [64 True True True True]
 [8 False False True True]
 [20 False False True True]
 [96 False True True True]
 [15 True True True False]
 [6 False True False False]
 [68 True False False False]
 [90 True True True False]
 [32 True False True False]
 [24 False False False True]
 [51 True False True False]
 [80 True True False True]
 [44 False False False False]
 [27 True True True True]
 [77 False False False True]
 [69 True True True False]
 [1 True False True True]
 [37 False True True True]
 [56 True True False False]
 [11 False False False True]
 [31 True True True False]
 [50 False False True False]
 [3 True True False True]
 [88 True False True True]
 [71 False False True True]
 [18 False True True True]
 [22 False True False False]
 [63 True False False True]
 [99 False True False False]
 [70 True False True True]
 [7 True True True False]
 [91 False False True False]
 [58 True False True True]
 [28 True True False False]
 [21 False False False True]
 [84 True True True True]
 [61 False True True True]
 [5 True False True False]
 [48 False True False True]
 [38 True True True False]
 [82 False False True True]
 [10 True False True False]
 [76 True True False True]
 [2 False True True True]
 [66 True False True True]
 [33 False False True False]
 [13 True True False True]]

In [111]:
new_data = pd.DataFrame({
    'LRscore': 42,
    'personality_Introverted': [True],
    'thinking_Thinker': [False],
    'perception_Perceiver': [True],
    'thought_Sensing': [True]
})

predictions = knn.predict(new_data)

print("Predicted Career Label:", predictions[0])

Predicted Career Label: 5

/home/sashank/.local/share/virtualenvs/SIH-VKG5AHwI/lib/python3.10/site-packages/sklearn/base.py:458: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(

In [113]:
import joblib
joblib.dump(knn, 'careermodel.pkl')

['careermodel.pkl']